@model IEnumerable<Product>


<div class="row p-2">
    @foreach(var prod in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div>
                    <div class="col-12 p-2">
                        <div class="card border-0 shadow border-top border-5 rounded">
                        <img src="@prod.ImageURl" class="card-img-top rounded"/>
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@prod.Title</p>
                                <p class="card-title text-warning text-center">by <b>@prod.Author</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    List price:
                                    <span class="text-decoration-line-through">
                                        @prod.ListPrice.ToString("c")
                                    </span>
                                </p>
                            </div>
                            <div class="pl-1">
                                    <p class="text-dark text-opacity-75 text-center mb-0">
                                        As low as:
                                        <span >
                                            @prod.Price100.ToString("c")
                                        </span>
                                    </p>
                            </div>
                                <div>
                                    <a  href="customer/home/Detail/@prod.Id" class="btn btn-primary bg-gradient border-0 form-control mb-1">Detail</a>
                                </div>
                        </div>
                           
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
        </div>
        
    }
</div>
